@import url("https://use.fontawesome.com/releases/v6.4.0/css/all.css");


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    font-family: Roboto, sans-serif;
    color: #333339;
    padding-inline: 5em;
}

h1 {
    font-family: Abril Fatface, cursive;
    font-size: 1.75em;
    text-transform: uppercase;
}

h1:nth-of-type(1) {
    margin-bottom: 2.5em;
}


h1:nth-of-type(2) {
    margin-bottom: 1em;
    border-bottom: 2px solid black;
    padding-bottom: 0.5em;
}



.image {
    height: 100vh;
    max-width: 100%;
    position: relative;
    background-image: url(image/image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

.logo {
    width: max-content;
    padding: 2em 6em 2em 0.76em;
    aspect-ratio: 1.2/1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    position: absolute;
    margin-top: 2.1em;
    margin-left: 3em;
}

.first {
    font-size: 1.75em;
    font-weight: 700;
    font-family: "Abril Fatface";
    margin-bottom: 0.5em;
}

.last {
    font-size: 0.75em;
    border-top: 2px solid white;
    padding-top: 0.5em;
}

.quote {
    width: 325px;
    height: 285px;
    position: absolute;
    top: 230px;
    right: 33px;
    background-image: linear-gradient(to right, rgb(159, 150, 142), #CECBC8);
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    padding: 3em 1em;
    text-align: right;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
    font-size: 16px;

}

.symb {
    margin-bottom: -0.4em;
    font-size: 50px;
    font-weight: 900;
    color: rgb(117, 114, 111);


}

main {
    display: flex;
    height: 100vh;
}

.content {
    background-color: #F2F0F3;
    flex-basis: 70%;
    padding: 4em 5em 2em 5em;
}

ul {
    list-style: none;
}

i {
    margin-right: 1em;
}

li {
    margin-bottom: 1.5em;
}

li>span {
    font-weight: 700;
    text-transform: uppercase;

}

.contacts {
    margin-bottom: 1.8em;
    margin-right: 4em;
    display: flex;
    flex-wrap: wrap;
}

.contacts p {
    margin-right: 1.2em;
}

.contacts span {
    font-style: italic;

    font-weight: 900;
}

.buttons input {
    background-color: rgb(186, 177, 173);

    padding: 1.2em;
    width: 305px;
    border: none;
    outline: none;
    border-radius: 7px;

}

.buttons input::placeholder {
    color: white;
}

.buttons button {
    background-color: rgb(103, 120, 77);
    color: white;
    padding: 1.2em;
    width: 114px;
    margin-left: 1em;
    border-radius: 7px;
    border: none;
    outline: none;

}


.aside {
    padding: 4em 0 4em 2em;
    background-color: #BAB1AD;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.number {
    font-size: 3.6em;
    color: white;
}

.text {
    text-transform: uppercase;
}