@import url(https://fonts.googleapis.com/css2?family=Mulish&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    height: 100vh;
    font-family: Mulish ;
}

.bg {
    background-image: url(images/background.png);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 43%;
    background-image: url(images/form-background.png);
    background-size: cover;
    padding: 3em;
    border-radius: 1em;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
  
    
}



.names {
    width: 100%;
    display: grid;
    column-gap: 1em;
    grid-template-columns: repeat(2,47%);
    grid-template-areas:
    "first last"
    "first-input last-input";
}

label:nth-of-type(1){
    grid-area: first;
}

label:nth-of-type(2){
    grid-area: last;
}

#first {
    grid-area: first-input;
}

#last {
    grid-area: last-input;
}


input {
    border-radius: 2em;
    padding: 0.5em;
    margin-bottom: 0.8em;
    outline: none;
    border: 1px solid rgb(211, 203, 203);
}

legend {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.8em;
    letter-spacing: 0.1em;
    font-weight: 600;
}

label {
    margin-bottom: 0.5em;
    font-size: 0.7em;
    opacity: 0.7;
}

.check {
    display: flex;
}

.check label {
    margin-left: 0.5em;
}

button {
    background-color: #AE3C33;
    border-radius: 2em;
    width: max-content;
    padding: .4em 1em;
    color: white;
    text-transform: uppercase;
    font-size: 0.6em;
    border: none;
    outline: none;
    align-self: center;
    margin-top: 0.8em;
    padding: 1em 2em;
}