* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    background-color: rgb(238, 238, 238);
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.card {
    background-color: rgb(255, 255, 255);
    width: 20%;
    padding: 1em 1em 2em 1em;
    border-radius: 8px;
}

.card h2 {
    margin-bottom: 0.5em;
}