* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
}

main {
    width: 700px;
    height: 500px;
    margin: 60px;
}

.new {
    position: relative;
    top: -200px;
    right: 150px;
}

