@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    font-family: Poppins, sans-serif;
    margin: 40px 100px 60px 100px;
    font-size: 14px;
}

header {
text-align: center;
color: black;
margin-bottom: 1.5em;
}
header p {
    font-size: 14px;
    font-weight: 500;
}

span {
    color: rgb(50, 125, 196);
}

main {
    display: flex;
    column-gap: 1em;
    justify-content: center;

}


section {
  flex-basis: 32%;
  border-radius: 15px;
  background-color: rgb(129, 157,175);
  
}

.image {

overflow: hidden;
border-radius: 15px;

}

img {
    width: 100%;
    display: block;

}

.content {
    
    color: black;
    padding: 20px 15px 20px 15px;
}

.content h3 {
    font-size: 22px;
    margin-bottom: 1em;
}
.content p {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    background-color: rgb(50, 125, 196) ;
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
    border: 1px solid rgb(50, 60, 196);
    box-shadow: 0 0px 1px 1px white;
    margin-bottom: 2em;
    font-size: 12px;
}


